
/*body*/
.margenbody{padding: 0em 0em 3em 0em;}
.bgcolor{background-color: $negro;}
.h1{color:$blanco;}
.margenh1{margin-bottom: 130px;}
.h2{color:$blanco;}
.h3{color:$blanco;} 
 h4{color: $blanco; 
    font-family: 'Bitter', serif;
    font-size: 1rem;}
.h5{color: $blanco;}
.p{color: $blanco;}